/* :root{
    --bg: rgb(255, 255, 255);
    --nav-bg: rgb(92, 128, 138);
    --contact-bg: #d3d2a2;
    --text-color: #282524;
    --header-text-color:white;
    --link-color: rgb(92, 128, 138);
    --link-hover: rgb(127, 174, 187);
    --select-color: rgba(124, 150, 199, 0.363);
    --shape-color: #92a76bda;
    --shape-text-color: #c9dad8;
} */
:root{
    --bg: rgb(255, 255, 255);
    --nav-bg: rgb(92, 128, 138);
    --contact-bg: rgb(210, 225, 230);
    --text-color: #282524;
    --header-text-color:white;
    --link-color: rgb(92, 128, 138);
    --link-hover: #F38A8A;
    --link-hover2: rgb(127, 174, 187);
    --select-color: rgba(124, 150, 199, 0.363);
    --shape-color: rgb(92, 128, 138);
    --shape-text-color: #c9dad8;
}
/* -------------------body------------------- */
body{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: sans-serif;
    overflow-x: hidden;
    font-size: 18px !important;
    background-color: var(--bg) !important;
}
hr.pages{ 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
hr.contact{ 
    display: block;
    margin-top: 0.0em;
    margin-bottom: 0.0em;
}
/* -------------------Header CSS------------------- */
.bg-image{
    background-image: url("img/bg.jpg");
    filter: blur(7px);
    -webkit-filter: blur(7px);
    height: 100vh;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.container#pb {
    position: absolute;
    min-width: 100vw;
    height: auto;
    margin: 20px 0;
    padding: 10px;
    text-align: center;
    top: 20%;
}
.portrait-box img{
    height: 50%;
    width: 50%;
    border-radius: 50%;
    max-width: 290px;
    border: 1px solid #86868527;
    /* margin-top: 10px; */
    margin-bottom: 10px;
}
.text{
    margin-top: 1%;
    color: var(--header-text-color);
    font-size: 40px;
    line-height: 0%;
    text-shadow: 2px 1px 18px var(--nav-bg);
}
.text #hello{
    font-size: 23px !important;
    color: var(--header-text-color);
    line-height: 100%;
}
.scroll-btn{
    bottom: 30px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    /* border: 1px solid rgb(59, 59, 59); */
    border: 1px solid var(--header-text-color);
    padding: 10px 10px 20px;
    border-radius: 30px;
}
.scroll-bar span{
    /* border: 2px solid rgb(59, 59, 59); */
    border: 2px solid var(--link-hover);
    font-size: 10px;
    border-radius: 30px;
}
.scroll-bar{
    animation: mover 1s infinite alternate;
}
@keyframes mover{
    0%{transform: translateY(0);}
    100%{transform: translateY(10px);}
}
/* -------------------About------------------- */
.about{
    padding-top: 75px;
    min-height: auto;
    color: var(--text-color);
}
.about h1{
    padding-bottom: 15px;
    text-align: center;
}
.profile-img{
    margin-top: 1vh;
    height: 400px;
}
.col-md-6 .profile-img{
    max-width: 1000px;
    /* border: 2px solid #86868527; */
    border: 2px solid var(--shape-color);
}
.about .col-md-6{
    padding-bottom: 10px;
}
.br{
    line-height: 50%;
}
.nav-bar{
    top: 0;
    position: sticky;
    z-index: 2;
}
.navbar{
    background-color: var(--nav-bg);
}
.navbar-brand{
    margin-left: 2%;
    color: var(--header-text-color);
}
.nav-bar .fa-bars{
    font-size: 35px;
    color: var(--header-text-color);
}
.navbar-toggler{
    outline: none !important;
}
.navbar-nav{
    float: right;
    text-align: right;
}
.nav-link{
    color: var(--header-text-color) !important;
}
.nav-link:hover{
    color: var(--contact-bg) !important;
}
.navbar-brand:hover{
    color: var(--contact-bg);
}
.active{
    color:#F38A8A !important;
}
/* -------------------Projects------------------- */
.projects{
    padding-top: 75px;
    min-height: 700px;
    color: var(--text-color);
}
.projects h1{
    padding-bottom: 15px;
    text-align: center;
}
.projects .link{
    color: var(--link-color);
}
.projects .link:hover{
    color: var(--link-hover);
}
/* https://codepen.io/YozhEzhi/pen/gcLpI/ */
@import "compass/css3";
*{
    box-sizing: border-box;
}
::selection{
    background-color: var(--select-color);
}
.tabbed{
    width: 930px;
    margin: 0px auto;
    position: relative;
}
.tabbed h3{
    padding-bottom: 0px;
}
.tabbed > input{display: none;}
.tabbed > label {
    display: block;
    float: left;
    padding: 12px 20px;
    margin-right: 5px;
    cursor: pointer;
    transition: background-color .3s;
}
.tabbed > label:hover{
    background: var(--link-hover2);
    color: var(--header-text-color);
}
.tabbed > input:checked + label {
    color: var(--header-text-color);
    background: var(--shape-color);
}
.tabs {
    clear: both;
    perspective: 600px;
}
.tabs > div {
    width: 930px;
    position: fixed;
    border: 2px solid var(--shape-color);
    padding: 10px 30px 40px;
    line-height: 1.4em;
    opacity: 0;
    transform: rotateX(-20deg);
    transform-origin: top center;
    transition: opacity .3s, transform 1s;
    z-index: 0;
}
#tab-nav-1:checked ~ .tabs > div:nth-of-type(1),
#tab-nav-2:checked ~ .tabs > div:nth-of-type(2),
#tab-nav-3:checked ~ .tabs > div:nth-of-type(3),
#tab-nav-4:checked ~ .tabs > div:nth-of-type(4){
    transform: rotateX(0);
    opacity: 1;
    z-index: 1;
}
@media screen and (max-width: 1000px) {
    .tabbed 
   { 
        width: 400px;
    }
    .tabbed > label{ display: none }
    .tabs > div
   {
        width: 360px;
        border: none;
        padding: 0;
        opacity: 1;
        position: relative;
        transform: none;
        margin-bottom: 60px;
    }
    .tabs > div h3 
   {
        border-bottom: 2px solid #000000;
        padding-bottom: .5em;
    }
}
.tabdetails{
    text-align: left;
}

/* -------------------Resume------------------- */
.resume{
    padding-top: 75px;
    padding-bottom: 75px;
    /* min-height: 100vh; */
    min-height: auto;
    color: var(--text-color);
}
.resume .link{
    color: var(--link-color);
}
.resume .link:hover{
    color: var(--link-hover);
}
.timeline{
    list-style-type: none;
    position: relative;
}
.timeline:before{
    content: '';
    background: var(--shape-color);
    display: inline-block;
    position: absolute;
    left: 35px;
    width: 2px;
    height: 100%;
    z-index: 1;
}
.timeline li{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}
.timeline li h5{
    background-color: var(--shape-color);
    padding: 5px 0 5px 12px;
    /* color: #fff; */
    color: var(--text-color);
    font-size: 15px; 
}
.timeline li h5 span{
    font-weight: bold;
    font-size: 18px;
    /* color: white; */
    color: var(--bg);
    /* margin-left: 0.5px; */
}
.timeline li p{
    /* color: black; */
    color: var(--text-color);
    margin-left: 15px;
}
.timeline li:before{
    content: '';
    background: var(--bg);
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid var(--shape-color);
    left: 26px;
    width: 20px;
    height: 20px;
    z-index: 1;
}

/* -------------------Contact------------------- */
.contact{
    padding-top: 0px;
    padding-bottom: 50px;
    background-color: var(--contact-bg);
    text-align: center;
    background-position: center;
    background-size: cover;
    background-attachment: fixed; 
    color: var(--text-color);
}
.contact .text-center{
    padding-bottom: 10px;
}
.contact .row{
    font-size: 20px;
}
.contact .col-md-5 .fa{
    padding: 10px;
    font-size: 40px;
}
.contact .btn-social{
    color: var(--link-color);
}
.contact .btn-social:hover{
    color: var(--link-hover);
}

/* -------------------Footer------------------- */
.footer{
    background-color: var(--nav-bg);
    height: 60px;
    color: var(--header-text-color);
    padding: 10px;
}